<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yoeden.flutter.wear">

    <!-- Flags the app as a Wear app -->
    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Required for ambient mode support -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:name="${applicationName}">

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".tiles.services.FlutterTileService"
            android:exported="true"
            android:label="Service name"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/error" />
        </service>
    </application>

</manifest>
